/* fonts */
@font-face {
  font-family: PlusJakartaSans;
  src:url(fonts/PlusJakartasans_Regular.ttf);
}

@media screen and (min-width:325px){
  .padding{
    padding: 10px 2% 0;
  }
  body{
    margin:0 auto;
    font-family: PlusJakartaSans;
    font-size:16px;
    font-style: normal;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
  }
  header, footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo-img, .footer-logo-img{
    width:89px;
    height:35px;
  }
  .btn{
    color: white;
    text-align:center;
    font-weight: 700;
    border:none;
  }

  .header-btn{
    background-color: #13183F;
    border-radius: 28px;
    width:140px;
    height:48px;
    line-height: 28px;
    color: white;
  }

  .main-section{
    margin:30px 0 100px;  /*spasce bewteen main section header - 50px, main section and cards section - 100px.*/
    display:flex;
    flex-direction:column;
  }
  .main-header{
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #13183F;
  }
  .main-par{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
  }
  .main-btn{
    background:linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    width:167px;
    height:56px;
    line-height: 26px;
   }
   .main-img{
     max-width:98%;
     margin:0 auto;
   }
   .cards{
     display:flex;
     flex-direction: column;
     width:100%;
     margin-bottom:50px; /*between cards section and footer*/
   }
   .invitation-card{
     background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
     border-radius: 10px;
     padding: 6% 6%;

   }
   .invitation-card, .card{
     margin-bottom:45px;
   }
   .invitation-par{
     font-weight: 800;
     font-size: 24px;
     line-height: 32px;
     color: #FFFFFF;
     margin:0;
   }
   .card{
     background: #FFFFFF;
     box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
     border-radius: 10px;
     position:relative;
     padding: 12% 6% 8%;
   }

   .card-icon{
     position:absolute;
     top: -28px;
     left: 6%;
   }
   .card-header{
     font-weight: 800;
     font-size: 20px;
     line-height: 25px;
     color: #13183F;
   }
   .card-par{
     font-weight: 500;
     font-size: 16px;
     line-height: 26px;
     color: #83869A;
   }
   .card-btn{
     font-weight: 700;
     font-size: 18px;
     line-height: 28px;
     color: #F74780;
     border:none;
     background:transparent;
   }

   footer{
     background: #13183F;
     padding: 30px 2%;
   }

   .footer-btn{
     background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
     border-radius: 28px;
     width:140px;
     height:48px;
     line-height: 28px;
     color: white;
   }
}


@media screen and (min-width:768px){
  body{
    background-image: url(assets/image-hero-tablet.png);
    background-repeat: no-repeat;
    background-position-x: 50vw;
    background-position-y: -58px;
    font-size:18px;
  }
  .padding{
    padding: 39px 6% 0;
  }
  footer{
    padding: 30px 6%;
  }
  .main-img{
    display:none;
  }
  .main-section{
    width:60%;
    margin:100px 0 200px;
  }
  .main-btn{
    margin-top:30px;
  }
  .cards{
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .card, .invitation-card{
    width: 40%;
    padding: 8% 3% 2%;
    margin-bottom: 80px;
  }

  .header-logo-img, .footer-logo-img{
    width:100px;
    height:45px;
  }
  .invitation-par{
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
  }


}

@media screen and (min-width:1200px){  /*to be changed to 1440*/
  body{
    background-image: url(assets/image-hero-desktop.png);
    background-repeat: no-repeat;
    background-position-x: 50vw;
    background-position-y: -92px;
    font-size:18px;
  }
  .main-section{
    margin:175px 0 350px;
  }
  .padding{
    padding:24px 10%;
  }

  .header-logo-img, .footer-logo-img{
    width:111px;
    height:35px;
  }
  .card, .invitation-card{
    width: 250px;
  }
  footer{
    padding:30px 10%;
  }

  /* fonts */
  .main-header{
    font-size: 56px;
    line-height: 71px;
  }
  .main-par{
    font-size: 18px;
    line-height: 28px;
  }
  .header-btn, .footer-btn,  .main-btn, .card-par{
    font-size: 18px;
    line-height: 28px;
  }
  .invitation-par{
    font-size: 32px;
    line-height: 40px;
  }
  .card-header{
    font-size: 24px;
    line-height: 30px;
  }

}
